<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
   		   point="org.eclipse.ui.views">
       <category
            id="org.eclipse.tracecompass.totalads"
            name="%category.name">
      </category>
       <view
             category="org.eclipse.tracecompass.totalads"
             class="org.eclipse.tracecompass.totalads.ui.diagnosis.DiagnosisView"
             icon="icons/diagnosis.ico"
             id="org.eclipse.tracecompass.totalads.ui.diagnosis.DiagnosisView"
             name="%view.Diagnosis"
             restorable="true">
       </view>
       <view
             category="org.eclipse.tracecompass.totalads"
             class="org.eclipse.tracecompass.totalads.ui.results.ResultsView"
             icon="icons/results.ico"
             id="org.eclipse.tracecompass.totalads.ui.ResultsView"
             name="%view.Results"
             restorable="true">
       </view>
       <view
             category="org.eclipse.tracecompass.totalads"
             class="org.eclipse.tracecompass.totalads.ui.modeling.ModelingView"
             icon="icons/modeling.ico"
             id="org.eclipse.tracecompass.totalads.ui.ModelingView"
             name="%view.Modeling"
             restorable="true">
       </view>
       <view
             category="org.eclipse.tracecompass.totalads"
             class="org.eclipse.tracecompass.totalads.ui.models.DataModelsView"
             icon="icons/models.ico"
             id="org.eclipse.tracecompass.totalads.ui.DataModelsView"
             name="%view.ModelsDB"
             restorable="true">
       </view>
       <view
             category="org.eclipse.tracecompass.totalads"
             class="org.eclipse.tracecompass.totalads.ui.properties.PropertiesView"
             icon="icons/properties.ico"
             id="org.eclipse.tracecompass.totalads.ui.PropertiesView"
             name="%view.Properties"
             restorable="true">
       </view>
       <view
             category="org.eclipse.tracecompass.totalads"
             class="org.eclipse.tracecompass.totalads.ui.live.LiveMonitorView"
             icon="icons/livemonitor.ico"
             id="org.eclipse.tracecompass.totalads.ui.LiveMonitorView"
             name="%view.LiveMonitor"
             restorable="true">
       </view>
       <view
             category="org.eclipse.tracecompass.totalads"
             class="org.eclipse.tracecompass.totalads.ui.live.LiveResultsView"
             icon="icons/liveresults.ico"
             id="org.eclipse.tracecompass.totalads.ui.LiveResultsView"
             name="%view.LiveResults"
             restorable="true">
       </view>

     <!-- <extension  point="org.eclipse.ui.perspectives">
      <perspective
      		category="org.eclipse.tracecompass.totalads"
            class="org.eclipse.tracecompass.totalads.core.TMFTotalADSPerspectiveFactory"
      	    id="org.eclipse.tracecompass.totalads.ADS01"
            name="Total Anomaly Detection System"
            icon="icons/totalads.ico"/>
    </extension>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.tracecompass.totalads.ADS01">
         <view
               id="org.eclipse.ui.views.ResourceNavigator"
               relationship="stack"
               relative="right"/>
         <view
               id="org.eclipse.ui.views.TaskList"
               relationship="stack"
               relative="top"/>
         <view
               id="org.eclipse.ui.views.BookmarkView"
               relationship="stack"
               relative="left"/>
         <view
               id="org.eclipse.ui.views.ProblemView"
               relationship="stack"
               relative="bottom"/>
      </perspectiveExtension>-->
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.tracecompass.totalads.ui.TotalAdsPerspectiveFactory"
            icon="icons/totalads.ico"
            id="org.eclipse.tracecompass.totalads.ui.TotalAdsPerspective"
            name="%perspective.name">
      </perspective>
   </extension>
   <extension
         name="%extension.name"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.tracecompass.totalads.ui.DataModelsView">
         <command
               commandId="org.eclipse.tracecompass.totalads.ui.createModel"
               icon="icons/create.ico"
               style="push"
               tooltip="%command.tooltip.createNew">
         </command>
         <command
               commandId="org.eclipse.tracecompass.totalads.ui.testSettings"
               icon="icons/settings.ico"
               style="push"
               tooltip="%command.tooltip.settings">
         </command>
         <command
               commandId="org.eclipse.tracecompass.totalads.ui.delete"
               icon="icons/delete.ico"
               style="push"
               tooltip="%command.tooltip.model">
         </command>
         <command
               commandId="org.eclipse.tracecompass.totalads.ui.dbconnection"
               icon="icons/db.ico"
               style="push"
               tooltip="%command.tooltip.dbConnect">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.tracecompass.totalads.ui.models.create.CreateModelHandler"
            commandId="org.eclipse.tracecompass.totalads.ui.createModel">
      </handler>
      <handler
            class="org.eclipse.tracecompass.totalads.ui.models.delete.DeleteModelHandler"
            commandId="org.eclipse.tracecompass.totalads.ui.delete">
      </handler>
      <handler
            class="org.eclipse.tracecompass.totalads.ui.models.settings.TestSettingsHandler"
            commandId="org.eclipse.tracecompass.totalads.ui.testSettings">
      </handler>
      <handler
            class="org.eclipse.tracecompass.totalads.ui.models.dbconnect.DBConnectionHandler"
            commandId="org.eclipse.tracecompass.totalads.ui.dbconnection">
      </handler>
   </extension>

</plugin>
